@inherits Bases.Component
@inject Microsoft.JSInterop.IJSRuntime JS
@inject NiceUIService niceUIService
@inject Services.SessionInfoService SessionInfo

<div class="panel">
    <div class="panel__header">
        <h4 class="panel__title">Property groups</h4>
        <button type="button" class="panel__header-button" disabled=@_processing @onclick="@RequestAddAsync" value="Add">
            Add
            <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/imgs/icons/icons__defs.svg#icon__plus"></use>
            </svg>
        </button>
    </div>

    <div class="panel__full-content">
        <SfGrid DataSource="@_premiseContacts" AllowTextWrap="true">
            <GridTextWrapSettings WrapMode="Syncfusion.Blazor.Grids.WrapMode.Content"></GridTextWrapSettings>
            <GridColumns>
                <GridColumn Field=@nameof(Core.Premises.Contact.Id) HeaderText="ID" Width="80px" IsPrimaryKey="true" Visible="false"></GridColumn>
                <GridColumn Width="42px">
                    <Template>
                        @{
                            var obj = (context as Core.Premises.Contact);
                            if (obj != null)
                            {
                                <a href="@Core.UrlHelpers.Interface.URL_Get(Core.UrlHelpers.Interface.Pages.Premises_Groups_Edit, iParameterId1: obj.Group_Id.Value)" class="button button__clear button--icon" title="View" target="_blank">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/imgs/icons/icons__defs.svg#icon__view"></use>
                                    </svg>
                                </a>
                            }
                        }
                    </Template>
                </GridColumn>
                <GridColumn Width="42px">
                    <Template>
                        @{
                            var obj = (context as Core.Premises.Contact);
                            if (obj != null)
                            {
                                <a @onclick="(() => RequestEditAsync(obj.Id))" @onclick:preventDefault class="button button__clear button--icon" title="View">
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/imgs/icons/icons__defs.svg#icon__edit"></use>
                                    </svg>
                                </a>
                            }
                        }
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="Name">
                    <Template>
                        @{
                            var obj = (context as Core.Premises.Contact);
                            if (obj != null)
                            {
                                var objGroup = _premiseGroups.FirstOrDefault(r => r.Id == obj.Group_Id);
                                if (objGroup != null)
                                {
                                    @objGroup.Name
                                }
                            }
                        }
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="Role(s) at property">
                    <Template>
                        @{
                            var obj = (context as Core.Premises.Contact);
                            if (obj != null)
                            {
                                @string.Join(", ", obj.Categories.Select(r => Core.Enums.Label(r)).ToList())
                            }
                        }
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="Property Configuration" Width="171px">
                    <Template>
                        @{
                            var obj = (context as Core.Premises.Contact);
                            
                            if (obj != null)
                            {
                                if (!obj.Config_Primary)
                                {
                                    <button type="button" class="button" value="Primary" @onclick="() => SetAsPrimaryAsync(obj.Id)">Use</button>
                                }
                                else
                                {
                                    <svg class="icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/imgs/icons/icons__defs.svg#icon__tick"></use>
                                    </svg>
                                }
                            }
                        }
                    </Template>
                </GridColumn>
                <GridColumn Width="42px">
                    <Template>
                        @{
                            var obj = (context as Core.Premises.Contact);
                            if (obj != null)
                            {
                                <a @onclick="(() => RequestDelete(obj.Id))" @onclick:preventDefault class="button button__clear button--icon" title="Delete">
                                    <svg class="icon icon--red">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/imgs/icons/icons__defs.svg#icon__delete"></use>
                                    </svg>
                                </a>
                            }
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
</div>

<VC.Res.WebInterface.Shared.Modals.Contacts.PremiseGroupAdd @ref="_modalAdd" OnClosed="ModalAddClosedHandlerAsync" />

<VC.Res.WebInterface.Shared.Modals.Premises.ContactEdit @ref="_modalEdit" OnClosed="ModalEditClosedHandlerAsync" />

<VC.Res.WebInterface.Shared.Modals.Confirmation @ref="_modalDeleteConfirm" Message="Are you sure you wish to delete this contact?" OnClosed="ModalDeleteConfirmClosedHandlerAsync" />

@code {
    [Parameter] public Core.Contacts.Contact SelectedItem { get; set; } = new Core.Contacts.Contact();

    private Shared.Modals.Contacts.PremiseGroupAdd? _modalAdd = null;
    private Shared.Modals.Premises.ContactEdit? _modalEdit = null;
    private Shared.Modals.Confirmation? _modalDeleteConfirm = null;

    private List<Core.Premises.Contact> _premiseContacts = new List<Core.Premises.Contact>();
    private List<Core.Premises.Group> _premiseGroups = new List<Core.Premises.Group>();

    protected override async Task OnInitializedAsync()
    {
        await RefreshAsync(bShowSpinner: false);
    }

    private async Task RefreshAsync(bool bShowSpinner = true)
    {
        if (!(await StartProcessingAsync(bShowSpinner))) { return; }

        _premiseContacts = (await Core.Premises.Contact.FindAllBy_ContactAsync(SelectedItem.Id)).Where(r => r.Group_Id != null).ToList();

        _premiseGroups = await Core.Premises.Group.FindAllAsync(_premiseContacts.Select(r => r.Group_Id.Value).ToList());

        await EndProcessingAsync(bShowSpinner);
    }

    private async Task RequestAddAsync()
    {
        if (_processing) { return; }

        if (_modalAdd != null)
        {
            await _modalAdd.OpenAsync(SelectedItem.Id);
        }
    }

    private async Task ModalAddClosedHandlerAsync(Models.ModalResponse objResponse)
    {
        if (!objResponse.Cancelled)
        {
            if (objResponse.Successful)
            {
                await niceUIService.ToastShowAsync(new Models.ToastNotification { Type = Models.ToastNotification.Types.Success, Message = "Item added." });

                await RefreshAsync();
            }
            else if (!string.IsNullOrWhiteSpace(objResponse.Message_Wording))
            {
                await niceUIService.ToastShowAsync(new Models.ToastNotification { Type = objResponse.Message_Type, Message = objResponse.Message_Wording });
            }
        }
    }

    private async Task RequestEditAsync(int iId)
    {
        if (_processing) { return; }

        if (_modalEdit != null) { await _modalEdit.OpenAsync(iId); }
    }

    private async Task ModalEditClosedHandlerAsync(Models.ModalResponse objResponse)
    {
        if (!objResponse.Cancelled)
        {
            if (objResponse.Successful)
            {
                await niceUIService.ToastShowAsync(new Models.ToastNotification { Type = Models.ToastNotification.Types.Success, Message = "Changes saved." });

                await RefreshAsync();
            }
            else if (!string.IsNullOrWhiteSpace(objResponse.Message_Wording))
            {
                await niceUIService.ToastShowAsync(new Models.ToastNotification { Type = objResponse.Message_Type, Message = objResponse.Message_Wording });
            }
        }
    }

    private void RequestDelete(int iId)
    {
        if (_processing) { return; }

        if (_modalDeleteConfirm != null) { _modalDeleteConfirm.Open(iId); }
    }

    private async Task ModalDeleteConfirmClosedHandlerAsync(Models.ModalResponse objResponse)
    {
        if (objResponse.Successful && objResponse.Selected_Id.HasValue)
        {
            if (!(await StartProcessingAsync())) { return; }

            var objMessage = new Models.ToastNotification
                {
                    Type = Models.ToastNotification.Types.Error,
                    Message = "We're sorry but there has been a problem deleting the selected item, please try again or contact support for further assistance."
                };

            if (await Core.Premises.Contact.DeleteFullAsync(objResponse.Selected_Id.Value, SessionInfo.Current_User.Name_Full))
            {
                objMessage.Type = Models.ToastNotification.Types.Success;
                objMessage.Message = "Item deleted.";
            }

            await EndProcessingAsync();

            await RefreshAsync();

            await niceUIService.ToastShowAsync(objMessage);

            objMessage = null;
        }
    }

    private async Task SetAsPrimaryAsync(int iId)
    {
        if (!(await StartProcessingAsync())) { return; }

        var objMessage = new Models.ToastNotification
            {
                Type = Models.ToastNotification.Types.Error,
                Message = "We're sorry but there has been a problem updating the selected item, please try again or contact support for further assistance."
            };

        if (await Core.Premises.Contact.Set_PrimaryAsync(iId))
        {
            objMessage.Type = Models.ToastNotification.Types.Success;
            objMessage.Message = "Properties that use this group will use the selected contacts configuration.";
        }

        await EndProcessingAsync();

        await RefreshAsync();

        await niceUIService.ToastShowAsync(objMessage);

        objMessage = null;
    }
}
